:root {
  --default-color: rgb(240, 127, 38);
}

.container {
  text-align: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.header-subtitle {
  font-size: small;
  margin-bottom: 30px;
}

.buttoms-about-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutme-button,
.contact-button {
  border: 1px solid var(--default-color);
  border-radius: 5px;
  width: 100px;
  padding: 18px;
  text-decoration: none;
  font-size: 10px;
  box-shadow: 1px 1px 6px 0px grey;
}

.aboutme-button {
  background-color: var(--default-color);
  color: aliceblue;
}
.contact-button {
  margin-left: 10px;
  color: black;
}

.project-button {
  border: 1px solid var(--default-color);
  border-radius: 5px;
  padding: 18px;
  text-decoration: none;
  box-shadow: 1px 1px 6px 0px grey;
  background-color: var(--default-color) !important;
  color: aliceblue !important;
}

.contact-button:hover {
  background-color: var(--default-color);
  color: aliceblue;
}

.aboutme-button:hover {
  background-color: white;
  color: black;
}

.project-button:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid var(--default-color) !important;
}

.go-homepage-link {
  font-size: 15px;
  display: block;
  margin-bottom: 29px;
}

.columns-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.column-aboutme {
  background-color: rgb(240, 127, 38, 0.8);
  color: aliceblue;
  border-radius: 5px;
  padding: 20px;
}

.column-aboutme,
.second-column {
  margin-left: 20px;
}

@media (max-width: 576px) {
  .second-row {
    display: flex;
    flex-direction: column;
  }
  .weather-text {
    order: 2;
  }
  .weather-image {
    order: 1;
  }
}
